footer{
    display: block;
    
    color: #fff;
}

.widget{
    background-color: #333B68;
    
    .container{
        display: flex;
        flex-wrap: wrap;
        .widget-inner-flex{
            padding-right: 30px;
            margin-top: 80px;
        }
        .inner-flex-heading{
            display: block;
            font-size: 14px;
            font-weight: 800;
            line-height: 1.3em;
            letter-spacing: 2px;
            padding-bottom: 24px;
            
        }
        .content-abt-us{
            font-size: 16px;
            line-height: 1.6em;
            padding-bottom: 106px;

        }
        .about-us{
            width: 25%;
    
        }
        .recent-post{
            width: 25%;
        }
        
        .quick-links{
            width: 25%;
        }
        .join-club{
            width: 25%;
        }
    }
    .content-recent-post{
        padding-bottom: 80px;
    }
    .posts{
        .post-heading{
            display: block;
            padding-bottom: 12px;
        }
        .post-date{
            display: block;
            font-size: 12px;
            line-height: 1em;
            
        }
    }
    .inner-flex-quick-link{
        ul {
            display: block;
            list-style-type: none;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
            li{
                padding: 10px 0px;
                font-size: 16px;
                line-height: 1.6em;
                &:first-child{
                    padding-top: 0;
                }
            }
        }
    }
    .content-join-club{
        .sign-me-up{
            span{
                font-size: 16px;
                line-height: 1.6em;
                display: block;
                padding-bottom: 16px;
            }
           
            
        }
        .form-join-club{
            form{
                
                input{
                    width: 100%;
                    padding: 15px 104px 14px 15px;
                }
                a{
                    display:block;
                    margin-top: 8px;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    line-height: 1em;
                }
            }
        }
    }
}
.footer-bottom{
    background-color: #39416D;
    padding: 24px 0;
    font-size: 0.8em;
    letter-spacing: 0.4px;
    line-height: 1.5;
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .site-info-box{
        flex: 1;
        a{
            text-decoration: none;
            color: rgb(0, 123, 255);
        }
    }
}