*,
*::after,
*::before {
    box-sizing: inherit;
}
*:focus {
    outline: none;
}
body {
    height: 100%;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

