.btn {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 3.12em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 16px 30px;
}
.primary-btn {
    background-color: rgb(87, 152, 255);

}
.secondary-btn{
    background-color: rgb(51, 59, 104);
    border: 1px solid rgb(255, 255, 255);

}
